@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <p class="display-4" style="font-size: 36px">
        Я Володимир Ісаєнко. Мені 19. Вчусь на 2 курсі в ITStep Університеті. 
    </p>
    <p class="display-4" style="font-size: 36px">
        Вивчав такі мови програмування, як C++, C#, Python, JavaScript.
    </p>
    <p class="display-4" style="font-size: 36px">
        Працював з MySQL, React, Angular, Django.
    </p>
</div>
