@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Ви можете зв'язатись зі мною за такими даними:</h1>
    <ul>
        <li>Номер телефону: +380973537911</li>
        <li>Email: isaienkovova05@gmail.com</li>
    </ul>
</div>
