@{
    Layout = null;
}

<html>
<head>
    <title>Особисті дані</title>
</head>
<body>
    <h2>Особисті дані</h2>
    <form method="post">
        <label>Прізвище:</label><br />
        <input name="LastName" /><br /><br />

        <label>Ім'я:</label><br />
        <input name="FirstName" /><br /><br />

        <label>Вік:</label><br />
        <input type="number" name="Age" /><br /><br />

        <label>Спеціалізація:</label><br />
        <input name="Specialization" /><br /><br />

        <label>Контактні дані:</label><br />
        <input name="ContactInfo" /><br /><br />

        <input type="submit" value="Далі" />
    </form>
</body>
</html>
