@{
    Layout = null;
}

<html>
<head>
    <title>Навички</title>
</head>
<body>
    <h2>Навички</h2>
    <form method="post">
        <label>Опишіть свої професійні навички:</label><br />
        <textarea name="SkillsDescription" rows="5" cols="50"></textarea><br /><br />
        <input type="submit" value="Далі" />
    </form>
</body>
</html>
