@{
    Layout = null;
}

<html>
<head>
    <title>Особисті дані</title>
</head>
<body>
    <h2>Особисті дані</h2>
    <form method="post">
        <p>
            <label>Прізвище:</label>
            <input name="lastName" />
        </p>
        <p>
            <label>Ім'я:</label>
            <input name="firstName" />
        </p>
        <p>
            <label>Вік:</label>
            <input type="number" name="age" />
        </p>
        <p>
            <label>Спеціалізація:</label>
            <input name="specialization" />
        </p>
        <p>
            <label>Контактні дані:</label>
            <input name="contactInfo" />
        </p>
        <input type="submit" value="Далі" />
    </form>
</body>
</html>
