@{
    Layout = null;
}

<html>
<head>
    <title>Професійні навички</title>
</head>
<body>
    <h2>Професійні навички</h2>
    <form method="post">
        <p>
            <label>Опис навичок:</label><br />
            <textarea name="skillsDescription"></textarea>
        </p>
        <input type="submit" value="Далі" />
    </form>
</body>
</html>
