@{
    Layout = null;
}

<html>
<head>
    <title>Тестове питання</title>
</head>
<body>
    <h2>Тестове питання</h2>
    <form method="post">
        <p>
            <label>Напишіть відповідь:</label><br />
            <textarea name="testAnswer"></textarea>
        </p>
        <input type="submit" value="Далі" />
    </form>
</body>
</html>
